:root {
  /* =========================
     COLORS
  ========================= */

  --color-surface: #f8f9ff;
  --color-surface-dim: #cbdbf5;
  --color-surface-bright: #f8f9ff;

  --color-surface-lowest: #ffffff;
  --color-surface-low: #eff4ff;
  --color-surface-container: #e5eeff;
  --color-surface-high: #dce9ff;
  --color-surface-highest: #d3e4fe;

  --color-background: #f8f9ff;

  --color-text: #0b1c30;
  --color-text-secondary: #434655;

  --color-outline: #737686;
  --color-outline-variant: #c3c6d7;

  /* Primary */

  --color-primary: #004ac6;
  --color-on-primary: #ffffff;

  --color-primary-container: #2563eb;
  --color-on-primary-container: #eeefff;

  --color-primary-fixed: #dbe1ff;
  --color-primary-fixed-dim: #b4c5ff;

  /* Secondary */

  --color-secondary: #565e74;
  --color-on-secondary: #ffffff;

  --color-secondary-container: #dae2fd;
  --color-on-secondary-container: #5c647a;

  /* Tertiary */

  --color-tertiary: #943700;
  --color-on-tertiary: #ffffff;

  --color-tertiary-container: #bc4800;
  --color-on-tertiary-container: #ffede6;

  /* Error */

  --color-error: #ba1a1a;
  --color-on-error: #ffffff;

  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;


  /* =========================
     TYPOGRAPHY
  ========================= */

  --font-primary: "Inter", sans-serif;

  --font-size-display: 64px;
  --font-size-display-mobile: 40px;

  --font-size-headline-md: 32px;
  --font-size-headline-sm: 24px;

  --font-size-body-lg: 18px;
  --font-size-body-md: 16px;

  --font-size-label-caps: 12px;
  --font-size-label-sm: 14px;


  /* =========================
     SPACING
  ========================= */

  --container-max: 1440px;

  --edge-margin-desktop: 80px;
  --edge-margin-mobile: 24px;

  --gutter: 24px;

  --section-gap: 120px;

  --stack-sm: 8px;
  --stack-md: 16px;
  --stack-lg: 32px;


  /* =========================
     BORDER RADIUS
  ========================= */

  --radius-sm: 0.125rem;
  --radius-default: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}